/* @import url(    ); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;

}

:root {
    --text-color: white;
    --bg-color: black;
    --main-color: blue;
    --color-gold: #FFD700;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(225, 225, 225, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 9999;
}

.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    cursor: default;
}

span {
    color: var(--color-gold);
}

.navbar {
    display: flex;
    gap: 30px;
    
}

.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    transition: all .5s ease;
}

.navbar a:hover {
    color: var(--color-gold);
}

/* .follow-me {
    display: flex;
    align-items: center;
}

.follow-me a:first-child{
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}

.follow-me a {
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}

.follow-me a :hover {
    color: var(--main-color);
    padding-right: 10px;
} */

section {
    /* padding: 70px 20% 60px; */
    padding: 50px 100px;
}

.home {
    height: 100vh;
    width: 100%;
    color: var(--text-color);
    background-image: url("img/b-malioboro.jpg");
    filter: brightness(80%);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.home-text h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 60px;
    color: #FFD700;
}

.home-text h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: var(--text-color);
    margin-bottom: 35px;
    width: 60%;
}

.btn {
    display: inline-block;
    padding: 15px 20px;
    background-color: var(--color-gold);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 350;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    color: var(--text-color);
    background: rgba(225, 225, 225, .1);
    backdrop-filter: blur(10px);
}